apiVersion: apps/v1
kind: Deployment
metadata:
   name: timeoffapp
spec:
   replicas: 3
   selector:
     matchLabels:
       app: timeoff
   template:
     metadata:
       labels:
         app: timeoff
     spec:
       containers:
       - name: timeoffapp
         image: hachikoapp/timeoff-management-app:$GIT_COMMIT_SHORT
         imagePullPolicy: Always
         command: ["npm"]
         args: ["start"]         
         ports:
         - containerPort: 3000
         env:
         - name: NODE_ENV
           value: production       
         - name: DB_HOST
           value: $DB_ENDPOINT
         - name: DB_NAME
           value: $DB_NAME
         - name: DB_USERNAME
           value: $DB_USERNAME
         - name: DB_PASSWORD
           value: $DB_PASSWORD
         - name: DB_DIALECT
           value: $DB_DIALECT